
<!-- <app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment> -->
<!-- <main *ngIf="!formVisible" class="container"> -->
<main  class="container">
<a routerLink="/add" >
<button mat-flat-button color="accent" class="ajouterBtn" (click)="onAddAssignmentBtnClick()">
  Ajouter Assignment
</button>
</a  >

  <mat-list *ngFor="let a of assignments">
    <h3 mat-subheader>Date de rendu : {{a.dateDeRendu | date}}</h3>

    <nav>
      <a routerLink="/assignment/{{a.id}}">
        <mat-list-item >
          <p appRendu *ngIf="a.rendu; else nonsoumis">
            Devoir intitulé {{a.nomDevoir}} rendu.
          </p>

          <ng-template #nonsoumis>
            <p [ngClass]="{nonrendu:true}">le devoir {{a.nomDevoir}} n'a pas été rendu...</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
    </mat-list>
    <!-- <app-assignment-detail [assignmentTransmis]="assignementSelectionne" (AssignmentSuppr)="onSupprAssignment($event)" ></app-assignment-detail> -->
    <router-outlet></router-outlet>

  </main>
