

.ajouterBtn {
  align-self: flex-end;
  margin-right: 10px;
}

.rendu {
  color: green;
}

.nonrendu {
  color: red;
  background-color: yellow;
  border: 2px dashed orange;
  padding: 2px;
}


.gros {
  font-size: 40px;
}
#bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.example-card {
  width: 300px;
  height: 340px;
  background: rgb(205, 236, 240);

  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}


.example-header-image {
  background-image: url('/assets/images/mopolo.jpg');
  background-size: cover;
}
a:hover{
  text-decoration: none;

}
.example-card:hover{

  background: rgb(122, 146, 150);

}
.marge{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 15px;

}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:50px;
	right:35px;
	background-color:#0C9;

	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
.taille {
  width: 300px;
  height: 140px;
  size: cover;
}


