<app-header></app-header>
<!-- <app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment> -->
<!-- <main *ngIf="!formVisible" class="container"> -->
  <div class="container-fluid">
    <!-- <div class="row justify-content-md-center">
      <div class="col">
        <a routerLink="/add" >
          <button mat-flat-button color="accent" class="ajouterBtn" (click)="onAddAssignmentBtnClick()">
            Ajouter Assignment
          </button>
          </a>
      </div>
      <div class="col">
        <button mat-flat-button color="primary" class="ajouterBtn" (click)="peuplerBase()">
          Peupler la base
        </button>
      </div>
    </div> -->
    <div class="row justify-content-md-center">
      <div>
         <!-- <button mat-flat-button color="primary" class="ajouterBtn" (click)="peuplerBase()">
          Peupler la base
        </button> -->
        <br><br>
      <div class="spinner-border text-success" role="status" *ngIf="load">
        <span class="visually-hidden"></span>
      </div>
    </div>
    <mat-list *ngFor="let a of pageslice">
        <div class="col marge">
          <h3 mat-subheader >Date de rendu : {{a.dateDeRendu | date}} </h3>


          <a routerLink="/assignment/{{a.id}}" class="cont-card" >
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="background-image: url({{a.imageProf}}); background-size: cover; margin-bottom: 7px;"></div>
                <mat-card-title>{{a.nom}}</mat-card-title>
                <!-- <mat-card-subtitle>{{a.dateDeRendu | date}}</mat-card-subtitle> -->
              </mat-card-header>
              <img mat-card-image src={{a.imageMat}} class="taille" alt="">
              <mat-card-content >

                 <h3>
                  Elève: {{a.nomEleve}} <br>
                  Matière: {{a.matiere}}  <br>


                 </h3>


              </mat-card-content>

            </mat-card>
          </a>

        </div>

    </mat-list>
  </div>

  <mat-paginator [length]="assignments.length" [pageSize]="pageSize" (page)="Onpagination($event)">
  </mat-paginator>

  <a routerLink="/add" class="float">
    <i class="fa fa-plus my-float"></i>
    </a>
  </div>








    <!-- <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
      <mdb-card class="my-1">
        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{card.title}}</h4>
          </mdb-card-title>
          <p>{{card.description}}</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel> -->
    <!-- <app-assignment-detail [assignmentTransmis]="assignementSelectionne" (AssignmentSuppr)="onSupprAssignment($event)" ></app-assignment-detail> -->
    <router-outlet></router-outlet>


