.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.container #form
{
  display: flex;
  flex-direction: column;
  margin: 5px;}

#first
{
  width: 100%;
}
#second
{
  width: 100%;
}
