<app-header></app-header>
<div class="container" style="height: 70%;width: 70%;position: relative;top:5%;left: 0%; border: none;" >
  <div class="float-left" style="height:67%;width: 50%;margin-top:45px;margin-left:-15px;overflow: hidden;background-image: url(../../../assets/images/xp.jpeg);background-size: cover;background-repeat: no-repeat;">

  </div>
<div class="container" style="width: 120%;   position: relative; top: 45px; " >
  <mat-horizontal-stepper linear #stepper id="form"  >
    <mat-step [stepControl]="firstFormGroup" >
        <ng-template matStepLabel>Auteur & matiere</ng-template>
        <form [formGroup]="firstFormGroup" style="margin-top: 50px;">
          <mat-form-field id="first" appearance="outline">
          <!-- <input matInput placeholder="Last name, First name" [(ngModel)]="nomDevoir" formControlName="firstCtrl" required> -->
          <mat-label>Auteur du devoir</mat-label>
          <input matInput  placeholder="Entrez votre nom & prenom" [(ngModel)]="nomE" name="nom" formControlName="firstCtrl"
             required>
             <mat-error>This field is required</mat-error>

        </mat-form-field>

        <mat-form-field id="second" appearance="outline" >
          <mat-label>Matieres</mat-label>

          <mat-select  [(ngModel)]="nomP" [ngModelOptions]="{standalone: true}"       [placeholder]="nomP">

            <mat-option *ngFor="let food of foods"  name="nomP"  selected [value]="food.nomP" required>
              {{ food.matiere }}
            </mat-option>
          </mat-select>


        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" style=" margin-bottom: 85px;" matStepperNext>Continue</button>

        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" >
      <form [formGroup]="secondFormGroup" style="margin-top: 50px; height: 300px;" >
        <ng-template matStepLabel>Date Rendu & Score & remarques</ng-template>
        <!-- <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field> -->

        <mat-form-field id="first" appearance="outline">
          <mat-label>Date de rendu</mat-label>

          <input matInput [matDatepicker]="datepicker" placeholder="Date de Rendu" [(ngModel)]="dateDeRendu" name="date" formControlName="secondCtrl" required>

          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field id="first" appearance="outline">
          <mat-label>Note</mat-label>
          <input matInput type="number"  [(ngModel)]="note"  [ngModelOptions]="{standalone: true}" placeholder="entrer la note"   name="note" required>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <span matSuffix>/20</span>
        </mat-form-field>
        <mat-form-field  id="first" appearance="fill"  *ngIf="note > (-1) ">
          <mat-label>Remarque</mat-label>
          <textarea matInput name="Remarque"  [ngModelOptions]="{standalone: true}" [(ngModel)]="remarques" required></textarea>
        </mat-form-field>
        <div >
          <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
          <button mat-raised-button color="warn" (click)="stepper.reset()" style=" margin-left: 25px; ">Vider Tous les champs</button>
          <button type="button" class="btn btn-success" (click)="onSubmit()"  style=" margin-left: 25px; ">
            Ajouter un devoir
          </button>        </div>

      </form>
    </mat-step>

  </mat-horizontal-stepper>
  </div>
</div>
