.form {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
/*.fond{
  background-image: url('/assets/images/imgFond.jpg');

}*/
.fond

{
  margin-top: 55px;
}

.fond h1

{
text-align: center;
}
